@media screen and (max-width:1300px){
.ten-block_resize{
.metaslider{
	float:left;
	clear:both;
	margin-top:30px;
	margin-right:0px !important;
}
.rslides{
	 overflow:visible !important;
}
.caption-wrap{
	    background:rgba(255,255,255,0.8) !important;
	    box-shadow: none;
	    left:0px !important;
	    bottom:0px !important;
	    width:100% !important;
	    height:inherit !important;
	    padding:0px 10px;
	    font-size:12px !important;
	    span{
	        display:block !important;
	        text-align:center !important;
	        font-size:14px !important;
	        font-weight:700 !important;
	    }
}       
.rslides_nav{
	    font-size:20px !important;
}
.rslides_nav.prev{
	left:0px !important;
	background:white !important;
}
.rslides_nav.next{
	right:0px !important;
	background:white !important;
}
}
}