.third-block {
  float: left;
  width: 100%;
  background: url("./optimized/img-min/third-block.jpg") no-repeat;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
  padding: 0px 7.3%;
  padding-top: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none; }
  .third-block .h-orientation {
    overflow: visible; }
