.contacts__content{
	padding:30px 30px;
	position:absolute;
	width:585px;
	font-family:HelveticaNeueCyr-Light;
	font-size:18px;
	background:rgba(255,255,255,0.7);
	box-shadow: 0px 0px 20.52px 6.48px rgba(0, 0, 0, 0.33); 
	margin-top:55px;
	box-sizing:border-box;
	z-index:1;
	color:#505050;
	td{
	   vertical-align:middle;
	   text-align:left !important;
	   padding:10px 0px;
	   padding-left:10px;
	}
}