.article__selector {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em; }
  .article__selector ul {
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em; }
  .article__selector input {
    display: none; }
  .article__selector label {
    text-align: left;
    font-size: 22px;
    color: #505050;
    font-family: HelveticaNeueCyr-Light;
    list-style: none;
    line-height: 3;
    border: 1px solid #cccccc;
    background: #ebebeb;
    padding: 0px 20px;
    color: #505050;
    cursor: pointer;
    display: block;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .article__selector label:hover {
    background: #fff; }
  .article__selector input:checked + label {
    background: #fff;
    border-bottom: 0px;
    color: #db0303; }
  .article__selector input:checked + label + section {
    display: block; }
  .article__selector section {
    border: 1px solid #cccccc;
    border-top: 0px;
    padding: 20px 0px;
    padding-left: 20px;
    padding-right: 10px;
    display: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .article__selector section p {
      text-indent: 0px; }
