@media screen and (max-width:768px){
.footer_resize{
    padding-top:15px;
    padding-bottom:15px;
	background-size:auto 100% !important;
	input{
	   width:90%;
	}
}
}
@media screen and (max-width: 425px) {
.footer_resize{
	padding-top:15px !important;
}
}