@media screen and (max-width: 768px) {
  .nineth-block_resize {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-background-size: auto 100%;
            background-size: auto 100%; }
    .nineth-block_resize input {
      width: 90%; } }
